---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"locations":[{"id":25884164,"name":"Osjecka 58","address1":"Osjecka
        58","address2":null,"city":"Split","zip":"21000","province":"","country":"HR","phone":"","created_at":"2017-05-31T06:18:05+02:00","updated_at":"2017-09-01T19:14:25+02:00","country_code":"HR","country_name":"Croatia","province_code":null,"legacy":false,"active":true,"admin_graphql_api_id":"gid:\/\/shopify\/Location\/25884164"}]}'
  recorded_at: Tue, 28 Jan 2020 12:40:34 GMT
recorded_with: VCR 5.0.0
