---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/custom_collections/440333380.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"custom_collection":{"id":440333380,"handle":"frontpage","title":"Home
        page","updated_at":"2017-06-15T17:55:05+02:00","body_html":null,"published_at":"2017-05-31T06:18:03+02:00","sort_order":"best-selling","template_suffix":null,"products_count":1,"published_scope":"web","admin_graphql_api_id":"gid:\/\/shopify\/Collection\/440333380"}}'
  recorded_at: Fri, 08 Nov 2019 09:58:04 GMT
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/products.json?collection_id=440333380
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":11055169028,"title":"No variants","body_html":"","vendor":"Spree
        Shopify Importer Test Store","product_type":"","created_at":"2017-05-31T06:19:00+02:00","handle":"no-variants","updated_at":"2017-05-31T06:19:10+02:00","published_at":"2017-05-31T06:18:16+02:00","template_suffix":null,"tags":"","published_scope":"web","admin_graphql_api_id":"gid:\/\/shopify\/Product\/11055169028","variants":[{"id":41733347588,"product_id":11055169028,"title":"Default
        Title","price":"150.00","sku":"","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2017-05-31T06:19:00+02:00","updated_at":"2018-09-12T02:40:47+02:00","taxable":true,"barcode":"","grams":0,"image_id":null,"weight":0.0,"weight_unit":"g","inventory_item_id":30195545988,"inventory_quantity":-2,"old_inventory_quantity":-2,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/41733347588"}],"options":[{"id":13297851780,"product_id":11055169028,"name":"Title","position":1,"values":["Default
        Title"]}],"images":[{"id":26172377540,"product_id":11055169028,"position":1,"created_at":"2017-05-31T06:19:10+02:00","updated_at":"2017-05-31T06:19:10+02:00","alt":null,"width":3584,"height":2270,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2051\/3691\/products\/Screenshot_2017-02-21_14.44.34.png?v=1496204350","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/26172377540"}],"image":{"id":26172377540,"product_id":11055169028,"position":1,"created_at":"2017-05-31T06:19:10+02:00","updated_at":"2017-05-31T06:19:10+02:00","alt":null,"width":3584,"height":2270,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2051\/3691\/products\/Screenshot_2017-02-21_14.44.34.png?v=1496204350","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/26172377540"}}]}'
  recorded_at: Fri, 08 Nov 2019 09:58:05 GMT
[...]
