---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/variants.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"variants":[{"id":41733347588,"product_id":11055169028,"title":"Default
        Title","price":"150.00","sku":"","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2017-05-31T06:19:00+02:00","updated_at":"2018-09-12T02:40:47+02:00","taxable":true,"barcode":"","grams":0,"image_id":null,"weight":0.0,"weight_unit":"g","inventory_item_id":30195545988,"inventory_quantity":-2,"old_inventory_quantity":-2,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/41733347588"},{"id":42077492100,"product_id":11101525828,"title":"M","price":"0.00","sku":"","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"M","option2":null,"option3":null,"created_at":"2017-06-05T05:01:39+02:00","updated_at":"2018-09-12T02:45:12+02:00","taxable":true,"barcode":"","grams":0,"image_id":29252172740,"weight":0.0,"weight_unit":"g","inventory_item_id":30530896644,"inventory_quantity":-4,"old_inventory_quantity":-4,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/42077492100"}]}'
  recorded_at: Thu, 13 Feb 2020 10:57:33 GMT
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"locations":[{"id":25884164,"name":"Osjecka 58","address1":"Osjecka
        58","address2":null,"city":"Split","zip":"21000","province":"","country":"HR","phone":"","created_at":"2017-05-31T06:18:05+02:00","updated_at":"2017-09-01T19:14:25+02:00","country_code":"HR","country_name":"Croatia","province_code":null,"legacy":false,"active":true,"admin_graphql_api_id":"gid:\/\/shopify\/Location\/25884164"}]}'
  recorded_at: Thu, 13 Feb 2020 10:57:33 GMT
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/locations/25884164/inventory_levels.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"inventory_levels":[{"inventory_item_id":30195545988,"location_id":25884164,"available":null,"updated_at":"2017-07-13T12:03:41+02:00","admin_graphql_api_id":"gid:\/\/shopify\/InventoryLevel\/17105796?inventory_item_id=30195545988"},{"inventory_item_id":30530896644,"location_id":25884164,"available":null,"updated_at":"2017-07-13T13:07:42+02:00","admin_graphql_api_id":"gid:\/\/shopify\/InventoryLevel\/17105796?inventory_item_id=30530896644"}]}'
  recorded_at: Thu, 13 Feb 2020 10:57:34 GMT
[...]
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/variants/41733347588.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"variant":{"id":41733347588,"product_id":11055169028,"title":"Default
        Title","price":"150.00","sku":"","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2017-05-31T06:19:00+02:00","updated_at":"2018-09-12T02:40:47+02:00","taxable":true,"barcode":"","grams":0,"image_id":null,"weight":0.0,"weight_unit":"g","inventory_item_id":30195545988,"inventory_quantity":-2,"old_inventory_quantity":-2,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/41733347588"}}'
  recorded_at: Thu, 13 Feb 2020 11:23:59 GMT
[...]
- request:
    method: put
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/products/11055169028/variants/41733347588.json
    body:
      encoding: UTF-8
      string: '{"variant":{"id":41733347588,"title":"Default Title","price":"150.00","sku":"A41733347588","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2017-[...]
[...]
