---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/shipping_zones.json?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"shipping_zones":[{"id":402009156,"name":"Domestic","profile_id":"gid:\/\/shopify\/DeliveryProfile\/18869387313","location_group_id":"gid:\/\/shopify\/DeliveryLocationGroup\/18865160241","admin_graphql_api_id":"gid:\/\/shopify\/DeliveryZone\/37833211953","countries":[{"id":516252868,"name":"Croatia","tax":0.25,"code":"HR","tax_name":"VAT","shipping_zone_id":402009156,"provinces":[]}],"weight_based_shipping_rates":[{"id":69151752241,"name":"Standard
        Shipping","price":"10.00","shipping_zone_id":402009156,"weight_low":0.0,"weight_high":5.0},{"id":69151785009,"name":"Heavy
        Goods Shipping","price":"20.00","shipping_zone_id":402009156,"weight_low":5.0,"weight_high":20.0}],"price_based_shipping_rates":[],"carrier_shipping_rate_providers":[]},{"id":402009220,"name":"Rest
        of world","profile_id":"gid:\/\/shopify\/DeliveryProfile\/18869387313","location_group_id":"gid:\/\/shopify\/DeliveryLocationGroup\/18865160241","admin_graphql_api_id":"gid:\/\/shopify\/DeliveryZone\/37833277489","countries":[{"id":516252932,"name":"Rest
        of World","tax":0.0,"code":"*","tax_name":"Tax","shipping_zone_id":402009220,"provinces":[]}],"weight_based_shipping_rates":[{"id":69151850545,"name":"International
        Shipping","price":"20.00","shipping_zone_id":402009220,"weight_low":0.0,"weight_high":20.0}],"price_based_shipping_rates":[],"carrier_shipping_rate_providers":[]}]}'
  recorded_at: Mon, 02 Dec 2019 16:07:57 GMT
recorded_with: VCR 5.0.0
