---
http_interactions:
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/products/11055169028.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '3'
      X-Sorting-Hat-Podid-Cached:
      - '0'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Sorting-Hat-Section:
      - pod
      X-Sorting-Hat-Shopid-Cached:
      - '0'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '3'
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Stats-Userid:
      - '0'
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Dc:
      - ash
    body:
      encoding: ASCII-8BIT
      string: '{"product":{"id":11055169028,"title":"No variants","body_html":"","vendor":"Spree
        Shopify Importer Test Store","product_type":"","created_at":"2017-05-31T06:19:00+02:00","handle":"no-variants","updated_at":"2017-05-31T06:19:10+02:00","published_at":"2017-05-31T06:18:16+02:00","template_suffix":null,"published_scope":"global","tags":"","variants":[{"id":41733347588,"product_id":11055169028,"title":"Default
        Title","price":"150.00","sku":"","position":1,"grams":0,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2017-05-31T06:19:00+02:00","updated_at":"2017-06-15T17:52:31+02:00","taxable":true,"barcode":"","image_id":null,"inventory_quantity":-2,"weight":0,"weight_unit":"g","old_inventory_quantity":-2,"requires_shipping":true}],"options":[{"id":13297851780,"product_id":11055169028,"name":"Title","position":1,"values":["Default
        Title"]}],"images":[{"id":26172377540,"product_id":11055169028,"position":1,"created_at":"2017-05-31T06:19:10+02:00","updated_at":"2017-05-31T06:19:10+02:00","width":3584,"height":2270,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2051\/3691\/products\/Screenshot_2017-02-21_14.44.34.png?v=1496204350","variant_ids":[]}],"image":{"id":26172377540,"product_id":11055169028,"position":1,"created_at":"2017-05-31T06:19:10+02:00","updated_at":"2017-05-31T06:19:10+02:00","width":3584,"height":2270,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2051\/3691\/products\/Screenshot_2017-02-21_14.44.34.png?v=1496204350","variant_ids":[]}}}'
  recorded_at: Sun, 03 Sep 2017 14:36:44 GMT
- request:
    method: get
    uri: https://spree-shopify-importer-test-store.myshopify.com/admin/api/2019-10/products/11055169028.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic MGE5NDQ1YjdiMDY3NzE5YTBhZjAyNDYxMDM2NGVlMzQ6ODAwZjk3ZDZlYTFhNzY4MDQ4ODUxY2RkOTlhOTEwMWE=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '48'
      X-Sorting-Hat-Shopid:
      - '20513691'
      X-Shopid:
      - '20513691'
      X-Shardid:
      - '48'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '1680429'
      X-Stats-Apipermissionid:
      - '52824317'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-east1,gcp-us-east1
    body:
      encoding: ASCII-8BIT
      string: '{"product":{"id":11055169028,"title":"No variants","body_html":"","vendor":"Spree
        Shopify Importer Test Store","product_type":"","created_at":"2017-05-31T06:19:00+02:00","handle":"no-variants","updated_at":"2017-05-31T06:19:10+02:00","published_at":"2017-05-31T06:18:16+02:00","template_suffix":null,"published_scope":"web","tags":"","admin_graphql_api_id":"gid:\/\/shopify\/Product\/11055169028","variants":[{"id":41733347588,"product_id":11055169028,"title":"Default
        Title","price":"150.00","sku":"","position":1,"inventory_policy":"deny","compare_at_price":null,"fulfillment_service":"manual","inventory_management":null,"option1":"Default
        Title","option2":null,"option3":null,"created_at":"2017-05-31T06:19:00+02:00","updated_at":"2018-09-12T02:40:47+02:00","taxable":true,"barcode":"","grams":0,"image_id":null,"weight":0.0,"weight_unit":"g","inventory_item_id":30195545988,"inventory_quantity":-2,"old_inventory_quantity":-2,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/41733347588"}],"options":[{"id":13297851780,"product_id":11055169028,"name":"Title","position":1,"values":["Default
        Title"]}],"images":[{"id":26172377540,"product_id":11055169028,"position":1,"created_at":"2017-05-31T06:19:10+02:00","updated_at":"2017-05-31T06:19:10+02:00","alt":null,"width":3584,"height":2270,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2051\/3691\/products\/Screenshot_2017-02-21_14.44.34.png?v=1496204350","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/26172377540"}],"image":{"id":26172377540,"product_id":11055169028,"position":1,"created_at":"2017-05-31T06:19:10+02:00","updated_at":"2017-05-31T06:19:10+02:00","alt":null,"width":3584,"height":2270,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/2051\/3691\/products\/Screenshot_2017-02-21_14.44.34.png?v=1496204350","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/26172377540"}}}'
  recorded_at: Thu, 19 Mar 2020 10:43:14 GMT
- request:
    method: get
    uri: https://spree-products-importer.myshopify.com/admin/api/2019-10/products/11055169028.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YzgyNzNiNzRhYjk2ZDdjNmFhMjU4Mzk3M2NiYjIxODk6MDBjYWJjNzdjYWM2MDllNjM4MDRkNDA2Yjc1YjlmMWU=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '98'
      X-Sorting-Hat-Shopid:
      - '27653472355'
      X-Shopid:
      - '27653472355'
      X-Shardid:
      - '98'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3154223'
      X-Stats-Apipermissionid:
      - '194747596899'
      X-Shopify-Api-Terms:
      - By accessing or using the Shopify API you agree to the Shopify API License
        and Terms of Use at https://www.shopify.com/legal/api-terms
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2019-10
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-east1,gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":"Not Found"}'
  recorded_at: Sun, 05 Apr 2020 21:24:47 GMT
recorded_with: VCR 5.0.0
